* {
  font-family: "Fira Code";
  color: #cdd6f4;

}

body {
  background-color: #181825;
}

@media only screen and (min-width: 992px) {
  .about_me {
    display: flex;
  }
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  row-gap: 0.8rem;
}

input{
  background-color: #45475a;
  border: none;
  color: #cba6f7;
}

textarea {
  width: 48%;
  background-color: #45475a;
  border: none;
  color: #cba6f7;
  max-width: 50%;
  min-width: 25%;
  min-height: 4rem;
}

h1 {
  color: #cba6f7;
}

.nav_container {
  background: #11111b;
  display: flex;
  justify-content: end;
  padding: 1rem;
}

button {
  background-color: #45475a;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

button:hover {
  background-color: #181825;
}

button.active {
  border: 1px solid #cba6f7;
}

.main {
padding: 4rem;
}
.image_me {
  width: 100%;
  max-width: 400px;
  max-height: 500px;
  border-radius: 50%;
  background-color: #cba6f7;
}

.footer_container {
  background: #11111b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
